<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Catalog </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/manga_catalog.css') }}">
</head>
<body>
    <div id="catalog-works-search">
        <div style="margin: 0">
            <div id="catalog-works-search-input">
                <input type="text" id="searchInput" placeholder="Поиск...">
                <p id="catalog-works-search-close">&#10060;</p>
            </div>
                <div class="catalog-works-search-body">
                    <div id="catalog-works-search-output"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div id="menu">
            <ul>
                <li><a href="/catalog_manga">Каталог манги</a></li>
                <li><a href="/api_documentation">API</a></li>
                <li><a href="#">О нас</a></li>
                <li><a id="user_login" href="/login"> Вход в аккаунт </a></li>
                <li id="search-button">&#128270; Поиск</li>
            </ul>
        </div>
        <div class="content-body">
          <div class="filter-genre-body">
              <h4> Фильтр жанров</h4>
              <div id="filter-genre-container"></div>
              <button id="set-filters-button"> Отфильтровать </button>
          </div>
          <div id="catalog-manga">
              <!-- example element in catalog manga
              <div class="catalog-manga-content">
                <a href="/" class="catalog-manga-content-a"> Title name example </a>
                <div class="catalog-manga-body">
                    <img src="{{ url_for('static', filename='default_image.png') }}" alt="Image.jpg">
                    <p> Manga description...some length manga description </p>
                </div>
              </div>
              -->
        </div>
      </div>
    </div>
  <script src="{{ url_for('static', filename='js_scripts/main_index.js') }}"></script>
  <script src="{{ url_for('static', filename='js_scripts/manga_catalog.js') }}"></script>
</body>
</html>