body {
    font-family: Arial, sans-serif;
    margin-top: 0;
}
#menu {
    background-color: #333;
    color: #fff;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;

    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0px;
    height: 25px;
}
#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#menu ul li {
    display: inline;
    margin-right: 15px;
    background-color: #000000;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 25px 7px 7px;
    cursor: pointer;
}
#menu ul li:hover{
    padding: 8px 8px;
    background: #3E2B48;
    border-color: black;
    border-style: outset;
}
#menu ul li a {
    color: #fff;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}
.catalog-works-search-body{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.search-result-catalog{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: #8B7BC1;
    padding: 9px 9px;
    border-radius: 6px;
    justify-content: flex-start;
    margin-bottom: 15px;
}
.search-result-catalog:hover{
    background: #352E4A;
    padding: 4px;
    margin-bottom: 20px;
    margin-top: 3px;
    border-color: #8B7BC1;;
    border-style: outset;

}
#catalog-works-search{
    display: none;
    margin-top: 0;
    position: fixed;
    background: rgba(0,0,0,.6);
    z-index: 2000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#catalog-works-search-input{
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#catalog-works-search-close{
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 5px;
    cursor: pointer;
}

#searchInput{
    margin-top: 5px;
    width: 30%;
    height: 25px;
}
.search-result-catalog img{
    width: 50px;
    height: 70px;
    border-radius: 8px;
}
.search-result-catalog a{
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    font-size: 18px;
    color: #DFB562;
}
.search-result-catalog a:hover{
    text-decoration: underline;
    color: #8F743F;
}
#catalog-works-search-output{
    width: 33%;

}