.slider {
  -webkit-appearance: none;
  height: 2vh;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-left: 2vw;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5vw;
  height: 3vh;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 2vw;
  height: 4vh;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}