body {
    margin-top: 0;
    background: #3D3163;
    font-size: 16px;
    font-family: "Comic Sans MS", sans-serif;
}
.main{
    display: flex;
    min-height: 100vh;
}
#main-content{
    width: 60%;
    min-height: 80vh;
    background-color: #5F7CC0;
    margin-top: 25px;
    padding: 2px 2px;
    border-radius: 6px;
    border: black groove;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Side-bar*/
#sidebar{
    min-width: min-content;
    width: 15%;
    max-width: 15%;
    height: fit-content;
    background: #5F7CC0;
    padding: 4px;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 25px;
    border-color: black;
    border-style: outset;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-header{
    color: #FF9640;
    font-size: 1.3vw;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.sidebar-buttons{
    min-width: min-content;
    font-size: 1vh;
    width: 10.6vw;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    margin-top: 15px;
}
.sidebar-menu-button {
    padding: 10px 15px;
    margin-bottom: 6px;
    margin-top: 8px;
    border-radius: 16px;
    color: #FF9640;
    background: #303E60;
    cursor: pointer;
}
.sidebar-menu-button:hover{
    background: #2A4480;
    transform: scale(1.1, 1.1);
}


/* Page  */
.content-menu-main{
    display: none;
    width: 96%;
    background: #3D3163;
    padding: 4px;
    margin-top: 15px;
    border-radius: 6px;
}
.content-menu-container{
    display: flex;
    flex-direction: column;
    padding: 2px;
    margin-right: 2px;
    background: #3D3163;
    border-radius: 6px;
    border: black groove;
}
.content-menu-header{
    min-width: min-content;
    background: #6C81B0;
    margin: 0;
    padding: 1.2vh;
    color: #FF9640;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.content-menu-item{
    min-width: min-content;
    background: #6C81B0;
    padding: 1vh;
    margin-top: 0;
    margin-bottom: 0;
    border-top: black groove;
}
.content-menu-footer{
    display: flex;
    flex-wrap: wrap;
    background: #6C81B0;
    padding: 1vh;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
/* Like items style */
.work-like-list-header{
    border: black groove;
    border-bottom: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
}
.work-like-list-header h3{
    margin: 1em;
}
.work-like-list-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border: black groove;
    border-top: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-bottom: 1em;
}
.work-like-list-body-desc-name{
    width: 100%;
    overflow: hidden;
}
.work-like-list-body-desc{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;
    width: 85%;
    margin: 1em;
}
.work-like-list-body-desc-name h3{
    margin: 1em;
    overflow: hidden;
    white-space: pre;
    width: 100%;
}
.work-like-list-body-desc-name a{
    text-decoration: none;
}
.work-like-list-body-desc-name p{
    margin: 1em;
    width: 100%;
    padding: 12px;
}

.work-like-list-body img{
    width: 5em;
    height: 7em;
    margin: 1em;
    border-radius: 6px;
    border: wheat solid;
    padding: 0;
}
/* Comment items style */
.content-menu-item textarea{
    border-radius: 6px;
    padding: 1em;
    margin: 1em;
    width: 18.5vh;
    height: 38px;
    max-width: 60vh;
    min-width: 18vh;
    border: black outset;
}
.comment-item-header{
    border-top: black groove;
    border-left: black groove;
    border-right: black groove;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
}
.comment-item-header h3{
    margin-left: 1em;
    cursor: pointer;
}
.comment-item-header a{
    text-decoration: none;
    color: #000000;
}
.comment-item-body{
    border-left: black groove;
    border-right: black groove;
    margin-top: 0;
    margin-bottom: 0;
    display: flow-root;
    overflow: hidden;
}

.comment-item-body p{
    margin: 1em;
    padding: 0;
}
.comment-item-footer{
    display: flex;
    flex-direction: row-reverse;
    border-bottom: black groove;
    border-left: black groove;
    border-right: black groove;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-bottom: 1em;
}
.comment-item-footer button{
    margin: 1em;
    color: white;
    font-size: 1em;
    background: darkred;
}
.comment-item-footer button:hover{
    background: red;
}
#page-user-comments-list .content-menu-footer, #page-user-likes-list .content-menu-footer{
    flex-direction: row;
    justify-content: space-between;
}
.content-menu-item label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.content-menu-item img{
    max-width: 100px;
    max-height: 150px;
    width: 100px;
    height: 150px;
    margin-bottom: 1em;
    border: wheat outset;
    border-radius: 6px;
}

#page-tools-add-new-work .content-menu-footer {
    border-top: black groove;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
#page-tools-add-new-work .content-menu-footer p{
    margin: 1em;
}
#page-tools-add-new-work-img{
    display: none;
}
/* templates */
.btn_construct{
    margin: 1em;
    color: #FF9640;
    background: #303E60;
    padding: 8px 8px;
    border-radius: 6px;
    cursor: pointer;
}
.btn_construct:hover{
    background: #2A4480;
    transform: scale(1.2, 1.2);
}
.checkbox-input .checkbox-input-button {
    display: inline-block;
    background-color: #f0f0f0;
    color: #333;
    padding: 10px 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 0.5em;
}

.checkbox-input input:checked + .checkbox-input-button {
    background-color: #4CAF50;
    color: white;
    border-color: #3e8e41;
}
input[type="text"]{
    border-radius: 6px;
    padding: 1em;
    margin: 1em;
}
input[type="text"]:invalid {
    background: red;
}