<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Профиль пользователя</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/user_profile.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index_style.css') }}">
    </head>
    <body>
    <!-- Head menu -->
        <div id="menu">
            <ul>
                <li><a href="/catalog_manga">Каталог манги</a></li>
                <li><a href="/api_documentation">API</a></li>
                <li><a href="#">О нас</a></li>
                <li><a id="user_login" href="/login"> Вход в аккаунт </a></li>
            </ul>
        </div>
    <div style="display: flex;">
        <aside>
          <div class="user-info">
            <h2 id="profile_menu_username"> Никнейм пользователя </h2>
            <nav>
            <ul>
                <li id="li-profile_menu_admin_tools">
                    <button id="profile_menu_admin_tools" type="submit" class="menu-btn" data-target="admin_tools">
                    Инструменты </button></li>
                <li><button id="profile_menu_read_list" type="submit" class="menu-btn" data-target="read_list">
                    Прочитанные </button></li>
                <li><button id="profile_menu_my_comments" type="submit" class="menu-btn" data-target="my_comments">
                    Мои комментарии </button></li>
                <li><button id="profile_menu_setting" type="submit" class="menu-btn" data-target="setting">
                    Настройки </button></li>
                <li><button id="profile_menu_exit" type="submit" class="menu-btn" data-target="exit">
                    Выйти </button></li>
            </ul>
          </nav>
          </div>
        </aside>
        <main>
            <div id="page-user-admin-tools" class="page-user-admin-tools">
                <div id="tools-admin-list">
                    <h3 class="page-title"> Инструменты администратора </h3>
                    <ul>
                        <li><a> Удалить пользователя </a></li>
                        <li><a> Удаление комментария</a></li>
                    </ul>
                </div>
                <div id="tools-editor-list">
                    <h3 class="page-title"> Инструменты редактора </h3>
                    <ul>
                        <li><a href="/editor_add_manga"> Добавление манги </a></li>
                        <li><a href="/editor_add_chapter"> Добавление главы манги </a></li>
                        <li><a href="/editor_delete_manga"> Удаление произведения </a></li>
                    </ul>
                </div>
            </div>
            <div id="user-like-list" class="user-like-list">
                <h3 class="page-title"> Список прочитанных произведений </h3>
                <!-- auto added list -->
                <!-- example use-read-manga element
                <div class="user-read-manga">
                    <div class="user-read-manga-div">
                        <img src="{{ url_for('static', filename='default_image.png') }}" alt="haha">
                        <div class="user-read-manga-body">
                            <h5> Manga_title_image </h5>
                            <p> Manga_description_text </p>
                        </div>
                    </div>
                    <div class="user-read-manga-buttons">
                        <button class="user-read-manga-button-read"> Читать  </button>
                        <button class="user-read-manga-button-del"> Убрать </button>
                    </div>
                </div>
                -->
            </div>
            <div id="user-comment-list" class="user-comment-list">
                 <h3 class="page-title"> Список комментариев пользователя </h3>
                <!-- auto added list -->
                <!-- example user-comments-list element
                 <div class="element-comment-list">
                     <div class="comment-title">
                        <div class="comment-title-user">
                             <h5> manga_name</h5>
                             <h5> Username </h5>
                             <p> [0/10] </p>
                        </div>
                        <p class="comment-body"> This is a user comment, i dont now what is written here! </p>
                     </div>
                     <div class="comment-btn">
                         <button class="user-read-manga-button-read"> К манге </button>
                         <button class="user-read-manga-button-del"> Удалить </button>
                     </div>
                 </div>
                 -->
            </div>
            <div id="page-setting" class="page-setting">
                <div>
                    <form class="user-replace-password">
                        <div>
                            <label for="password">Старый Пароль</label>
                        <input type="password" id="password" name="password" required>
                        </div>
                        <div>
                            <label for="password">Новый Пароль</label>
                            <input type="password" id="new_password" name="new_password" required>
                        </div>
                        <div>
                            <label for="password">Подтвердите</label>
                            <input type="password" id="new_password_check" name="new_password_check" required>
                        </div>
                        <button
                            class="user-read-manga-button-read"
                            style="margin-left: 50px;margin-top: 50px"
                    > Сменить пароль </button>
                    </form>
                </div>
            </div>
        </main>
    </div>

    <script src="{{ url_for('static', filename='js_scripts/main_index.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js_scripts/user_profile.js') }}"></script>
    </body>
</html>