<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Профиль пользователя</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index_style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/user_profile.css') }}">
    </head>
    <body>
        <!-- Head menu -->
        <div id="menu">
            <ul>
                <li><a href="/catalog_manga">Каталог манги</a></li>
                <li><a href="/api_documentation">API</a></li>
                <li><a href="#">О нас</a></li>
                <li><a id="user_login" href="/login"> Вход в аккаунт </a></li>
            </ul>
        </div>
        <div class="main">
            <div id="sidebar">
                <h2 class="sidebar-header" id="sidebar-username"> USERNAME </h2>
                <div class="sidebar-buttons">
                    <button class="sidebar-menu-button" data-target="likes"> Понравилось </button>
                    <button class="sidebar-menu-button" data-target="comments"> Комментарии</button>
                    <button class="sidebar-menu-button" data-target="tools"> Инструменты </button>
                    <button class="sidebar-menu-button" data-target="exit"> Выйти </button>
                </div>
            </div>
            <div id="main-content">
                <!-- Page user likes list -->
                <div class="content-menu-main" id="page-user-likes-list">
                    <div class="content-menu-container">
                        <h2 class="content-menu-header"> Понравилось </h2>
                        <div class="content-menu-item" id="user-likes-list-items"></div>
                        <div class="content-menu-footer">
                            <button class="btn_construct" id="page-likes-last"> Назад </button>
                            <p id="page-likes-view"> Страница [x/X] </p>
                            <button class="btn_construct" id="page-likes-next"> Вперед </button>
                        </div>
                    </div>
                </div>
                <!-- Page user comments list -->
                <div class="content-menu-main" id="page-user-comments-list">
                    <div class="content-menu-container">
                        <h2 class="content-menu-header"> Мои комментарии  </h2>
                        <div class="content-menu-item" id="comment-list-container"></div>
                        <div class="content-menu-footer">
                            <button class="btn_construct" id="page-comment-last"> Назад </button>
                            <p id="page-comment-view"> Страница [x/X] </p>
                            <button class="btn_construct" id="page-comment-next"> Вперед </button>
                        </div>
                    </div>
                </div>
                <!-- Page user tools -->
                <div class="content-menu-main" id="page-tools">
                    <div class="content-menu-container">
                        <h2 class="content-menu-header"> Инструменты: описание  </h2>
                        <div class="content-menu-item">
                            <h3> Инструменты администратора </h3>
                            <a> Удалить пользователя </a>
                            <a> Удалить комментарий </a>
                            <h3> Инструменты редактора </h3>
                            <a href="#page-tools-add-new-work"> Добавить произведение </a>
                            <a> Добавить главу </a>
                            <a> Удалить произведение </a>
                        </div>
                        <div class="content-menu-footer"></div>
                    </div>
                </div>
                <!-- Add new work -->
                <div class="content-menu-main" id="page-tools-add-new-work" style="display: block">
                    <div class="content-menu-container">
                        <h2 class="content-menu-header"> Инструменты: добавить новое произведение  </h2>
                        <form id="page-tools-add-new-work-form">
                            <div class="content-menu-item"
                                 style="display: flex;align-items: center;justify-content: space-between;">
                                <p> ID произведения </p>
                                <input id="page-tools-add-new-work-work-id"
                                        type="text" pattern="[A-Za-z_]{3,}" title="Только буквы, минимум 3 символа">
                            </div>
                            <div class="content-menu-item"
                                 style="display: flex;align-items: center;justify-content: space-between;">
                                <p> Название произведения </p>
                                <label>
                                    <input type="text" id="page-tools-add-new-work-ru_name">
                                </label>
                            </div>
                            <div class="content-menu-item"
                                 style="display: flex;align-items: center;justify-content: space-between;">
                                <p> Описанние произведения </p>
                                <label>
                                    <textarea id="page-tools-add-new-work-desc"></textarea>
                                </label>
                            </div>
                            <div class="content-menu-item" style="display: flex;flex-wrap: wrap;"
                                 id="page-tools-add-new-work-genres"></div>
                            <div class="content-menu-item"
                                 style="display: flex;align-items: center;justify-content: space-between;">
                                <p> Превью изображение </p>
                                <label>
                                    <img id="page-tools-add-new-work-img" alt="Haha">
                                    <input type="file" id="page-tools-add-new-work-file">
                                </label>
                            </div>
                            <div class="content-menu-footer">
                                <p id="page-tools-add-new-work-msg"> Message </p>
                                <button type="submit" class="btn_construct" > Вперед </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js_scripts/main_index.js' ) }}"></script>
        <script src="{{ url_for('static', filename='js_scripts/user_profile.js') }}"></script>
    </body>
</html>